# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
wandb/
data/
outputs/
*.sif
Sapiens-Pytorch-Inference/models/
.sweep_id