
numpy==2.3.0
tqdm==4.67.1
opencv-python==4.11.0.86
plyfile==1.1.2
joblib==1.5.1
matplotlib==3.10.3
wandb==0.20.1
ultralytics==8.3.154
huggingface_hub==0.33.0
insightface==0.7.3
onnxruntime-gpu==1.22.0



git+https://github.com/richzhang/PerceptualSimilarity.git#egg=lpips

